.DS_Store
.Rhistory
*.fastq
*.fastq.gz
datasets/rey/subset
datasets/rey/results*
*.Rproj
.Rproj.user
*.rds
*.rda
!SRR8759981_1.fastq.gz
!SRR8759981_2.fastq.gz
!SRR8760137_1.fastq.gz
!SRR8760137_2.fastq.gz
*.bkp
*.dtmp

